* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --wh: hsl(0, 0%, 100%);
    --bg: hsl(212, 45%, 89%);
    --titles: hsl(218, 44%, 22%);
    --paragraphs: hsl(216, 15%, 48%);
    --aa: hsl(228, 45%, 44%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg);
    font-family: 'Outfit', system-ui, sans-serif;
}

main#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.card-qr {
    background-color: var(--wh);
    padding: clamp(1rem, 5vw, 2rem);
    margin: clamp(1rem, 5vw, 2rem);
    border-radius: 20px;
    text-align: center;
    width: 100%;
    max-width: 320px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-qr img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

h1 {
  font-weight: 700;
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  color: var(--titles);
  margin-bottom: 0.75rem;
}

p {
  font-weight: 400;
  font-size: clamp(0.75rem, 4vw, 0.9375rem);
  color: var(--paragraphs);
}

footer.att {
    margin-top: auto;
    padding: 1rem 0;
    font-size: 11px;
    text-align: center;
    color: var(--paragraphs);
}

footer a {
    color: var(--titles);
    text-decoration: none;
    font-weight: 700;
}

a:focus {
  outline: 2px solid var(--aa);
}

h1 {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  font-weight: 700;
  color: var(--titles);
  margin-bottom: 0.75rem;
}

p {
  font-size: clamp(0.75rem, 4vw, 0.9375rem);
  font-weight: 400;
  color: var(--paragraphs);
}

@media (min-width: 376px) {
  .card-qr {
    margin: 1rem;
    padding: 1.5rem 1rem;
  }
}

@media (min-width: 1024px) {
  .card-qr {
    max-width: 400px;
    padding: 2rem;
  }
}